* {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body {
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	background: #262626;
	font-family: 'Amatic SC', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}


/* START SCREEN */
#start-screen {
	position: absolute;
	z-index: 500;
	width: 100vw;
	height: 100vh;
	background: #221626;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    background-image: url(../assets/start_screen_background.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    opacity: 1;
    transition-duration: .5s;
}

#start-screen.remove {
    opacity: 0;
	visibility: hidden;
}
/* START SCREEN END */



h1 {
	color: white;
	font-size: 150px;
	font-weight: 400;
	margin-bottom: 0px;
	padding-bottom: 0px;
	text-shadow: 0px 0px 55px rgba(255, 255, 255, 0.35);
}

h2 {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 300;
}

h2, p {
	color: white;
}

#start-screen h1{
    letter-spacing: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
}

#start-screen p{
    font-size: 32px;
}

score p {
	font-size: 32px;
	font-weight: 400;
	margin-top: 150px;
}

p span {
	font-weight: 700;
	font-size: 40px;
	text-transform: uppercase;
}


/* LOADING SCREEN */
#p5_loading {
	position: absolute;
	z-index: 100;
}


/* UI */
#ui {
	width: 100%;
	height: 100%;
	position: absolute;
}

#score {
	position: absolute;
	bottom: 80px;
	left: 100px;
	color: white;
	font-size: 62px;
}

#score.complete {
	animation-name: levelcomplete;
	animation-delay: 1s;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

@keyframes levelcomplete {
	25% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	75% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#player-score {
	font-size: 62px;
	font-weight: 100;
}

#keys {
	font-family: 'Helvetica';
	position: absolute;
	bottom: -50px;
	left: 0px;
	color: white;
}

#keys span {
	margin: 0px 15px;
}

#item-bag {
	position: absolute;
	right: 75px;
	bottom: 75px;
	width: 75px;
	height: 75px;
}


/* GAME OVERLAY */

#game-overlay {
    position: relative;
    z-index: 1000;
    display: flex;
    flex-direction: column;
	padding: 150px;
	visibility: hidden;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

#game-overlay.active {
	visibility: visible;
}

h3 {
	font-family: 'Amatic SC', cursive;
	color: white;
	font-size: 72px;
	font-weight: 100;
    margin-bottom: 25px;
}

.clues {
    height: 150px;
	display: flex;
    margin-bottom: 100px;
}

.clue {
	margin-left: 20px;
	width: 500px;
	background: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    font-size: 26px;
    color: white;
    opacity: .6;
}

.clue.locked{
    background: rgb(0, 0, 0);
    background-image: url(../assets/locked_clue.png);
    background-size: 65px;
    background-repeat: no-repeat;
    background-position: center;
}

.clue:nth-child(1){
    margin-left: 0px;
}

.clue:focus {
    opacity: 1;
	transform: scale(1.1);
    border: none;
    outline: none;
}

#clue-list-content{
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
}

.clue-content {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;
    justify-content: space-between;
}

.clue-content h4{
    display: inline-block;
    font-size: 40px;
    margin-bottom: 25px;
}

.clue-content p{
    font-size: 20px;
    line-height: 35px;
    font-family: 'Open Sans Condensed', sans-serif;
    max-width: 650px;
}

.clue-content.active{
    display: flex;
}

.clue-image{
    height: 300px;
    width: 600px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#clue1{
    background-image:url(../assets/old_note_clue.png);
}

#clue2{
    background-image: url(../assets/oldshoe_clue.png);
}

.clue-image.locked{
    background-image:url(../assets/locked_clue.png);  
}








/* END GAME SCREEN */
#end-screen {
	display: none;
	position: absolute;
	z-index: 500;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.50);
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#end-screen h1 {
	font-size: 100px;
	margin: 0px;
}

#end-screen h2 {
	margin: 0px;
}

#end-screen.end {
	display: flex;
}
