body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #262626;
    font-family: 'Righteous', cursive;
    
}

#ui{
    width: 1000px;
    height: 500px;
    position: absolute;
    
}

#score{
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 30px;
    left: 40px;
    color: white;
    font-size: 36px;
}

#keys {
    font-family: 'Helvetica';
    position: absolute;
    bottom: -50px;
    left: 0px;
    color: white;
}

#keys span{
    margin: 0px 15px;
}