body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background: #262626;
    user-select: none;
    font-family: 'Righteous', cursive;
    
}

#ui{
    width: 800px;
    height: 480px;
    position: absolute;
    cursor: none;
}

#score{
    position: absolute;
    margin: 0px;
    padding: 0px;
    bottom: 50px;
    left: 60px;
    color: #262626;
    font-size: 36px;
}